body{user-select: none;
    background-color: cadetblue;
    padding: 0px;
}
textarea{border-radius: 30px;
    pointer-events: none;
    padding: 1%;
    font-family: cursive;
    font-size: 1.5vw;
    width: 50%;
    background-color: azure;
    outline: none;
    overflow: auto;
}
::-webkit-scrollbar {
  width: 0;
}

.bt1{width: 6%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;}

.bt2{width: 10%;
padding-top: 0.5%;
padding-bottom: 0.5%;}

.bt3{width: 18.5%;
padding-top: 0.5%;
padding-bottom: 0.5%;}

.bt4{width: 74%;
padding-top: 0.5%;
padding-bottom: 0.5%;}

.bt5{width: 11.5%;
padding-top: 0.5%;
padding-bottom: 0.5%;}

input{background-color: ghostwhite;
    margin: 0.1vw;
    margin-right: 0.3vw;
    float: left;
    font-family: cursive;
    font-size: 1vw;
    font-weight: bold;}

input:focus{box-shadow: 1px 1px 4px;
    background-color: white;
    outline: none;}

form {padding: 1%;
    width: 50%;
    background-color: aliceblue;
    overflow: hidden;
border-radius: 20px;}